# Ignore Git files
.git
.gitignore
.dockerignore

# Node / Frontend stuff
frontend/node_modules
frontend/dist
frontend/.vite
frontend/.cache

# Python / Backend stuff
backend/__pycache__/
backend/*.pyc
backend/.pytest_cache

# OS cruft
.DS_Store
Thumbs.db

# IDEs / editors
.vscode
.idea
*.swp
